# ------------------------------------------------------------------------------
# DIRECTORIES
# ------------------------------------------------------------------------------

builds/
modules/
workspace/

# ------------------------------------------------------------------------------
# FILES
# ------------------------------------------------------------------------------

*.log
disk-usage.xml
lastStable
lastSuccessful
nextBuildNumber
